* {
    margin: 0; /* removing default spaces of borders*/
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.image-container {
    width: 100%;
    background-image: url('./assets/dp.jpg');
    height: 90vh;
    background-size: cover;
}
.nav-container{
  display: flex;
  justify-content: space-around;
/* 
    background-color: chartreuse; */
    width: 100%;
}
.left {
    /* background: orange; */
    height: 100px;
    width: 20%;
    /* float: left; */
}

.right {
    /* background: blue; */
    height: 100px;
    /* width: 20%; */
    /* float: right; */
}

.image-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    color:white;
    font-weight: 600;
}

ul li {
    padding: 10px;
}

ul li:hover {
    border-bottom: 2px solid white;
}

.signup-li-item:hover {
 border: none;

}
.sign-up-btn{
    border-radius: 4px;
    border: 2px solid white;
    color: white;
    padding: 10px;
    width: 120px;
    transition: background-color 0.5s ease; /* time delay*/
    font-weight: 600;
    background: transparent;
text-align: center;
}
.sign-up-btn:hover{
    background-color: white;
    color: black;
}





/* yelp */

  
   .logo-container{
      /* background-color: lawngreen; */
      display: flex;
      justify-content: center;
  }

  .logo {
    background-image: url('./assets/yy.svg');
    width: 160px;
    height: 80px;
    padding: 0;
    margin: 0 auto 48px;
    background-repeat: no-repeat;
    background-size: 160px 80px;
  }



.sb-example-1 .search {
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
    margin-top: 0vh;
    background:transparent;
    
  }
  
  .sb-example-1 .searchTerm {
    /* width: 100%; */
    
    border: none;
position: relative;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    outline: none;
    color:none;
    width: 100px;
    font: inherit;
    vertical-align: baseline;

    width: 300px;
  line-height: 5px;
  padding: 10px 10px;
  font-weight: 100;

  }

  .left-border {
      background-color: lightgray;
      width: 2px;
      height: 0px;
  }
  
  .sb-example-1 .searchButton {
    width: 60px;
    height: 40px;
    border: 1px solid #00B4CC;
    background:red;
    text-align: center;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    font-size: 20px;
    background-image: "search.png";
    
  }


/*img*/

.icon-container {
display: flex;
align-items: center;
justify-content: center;
padding: 20px 0;
}


.items {
  
    padding: 10px;
    display: flex;
    align-items: center;
     /* margin-left: 12em;
     margin-right: auto; */
     /* vertical-align: baseline;
     text-align: -webkit-match-parent; */
}

.items img{
 
    height: 40px;
    width: 40px;
    /* margin: 10px 10px 10px 10px; */
  
}
 .items p{ 

  /* padding-top: 10px; */
    /* margin: 10px 10px 10px 10px; */
    color: #fff;
    font-weight: 700;
    /* display: contents; */
    /* justify-items: center; */
 }


 .para-container{
    flex: content; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
  font-size: 30px;
  margin-top: 50px;
}

.service-items{

    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
justify-content: space-around;
vertical-align: middle;
margin-top: 60px;
}

.service-items p{

   text-align: center;
   font-weight: 700;
   font-size: 14px;
   color: #333;
}


.secondpara-container{
    flex: content; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
  font-size: 30px;
  margin-top: 100px;
}
.country ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}
hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }


  .thirdpara-container{
    flex: content; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
  font-size: 30px;
  margin-top: 70px;
}




.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    max-height:300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    color:blue;
  }
  
  
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: orange;
    background-color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .cardsection{
    
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
justify-content: space-around;
vertical-align: middle;
margin-top: 60px;  
  }
  

  .forthpara-container{
    flex: content; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
  font-size: 30px;
  margin-top: 70px;
  font-size: 3vh;
}



/******************************************/

.container2{
  position: relative;
  /* width: 100px; */
  /* min-width: 950px; */
  /* min-height: 350px; */
  padding-bottom: 5px;
  padding-right: 100px;
  padding-left: 100px;
/* background-color: chartreuse; */
display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container2{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper {
  padding: 10px;
}

.card2-thumb{
  /* width: 100%; */
  height: 150px;
  /* overflow: hidden; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 20px;
  position: relative;



  
}

.client-img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */

}

.client-name{
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px 20px;
  background: #fff;
  text-transform: capitalize;
  font-size: 14px;
}

.card2-body{

  /* width: 100%; */
  /* min-height: 300%; */
  /* height: auto; */
  /* margin-left: 5px; */
  position: relative;
  padding-bottom: 50px;
 
}

.review{
  font-size: 14px;
  line-height: 20px;
  margin-top:5px;
}

.rating{
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.star{
  width: 15px;
  margin-right: 5px;
  margin-top: 20px;
}




  .fifthpara-container{
    flex: content; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
  font-size: 30px;
  margin-top: 70px;
  font-size: 3vh;

  padding: 100px 100px;
  height: 100%;
  width: 100%;
}



.recent-collections-wrapper {
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
padding: 10rem;
/* background: red; */
height: 50px;
}

.collection-items-container {
  display: flex;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid gray;
}

.recent-items {
display: flex;
flex-direction: column;
align-items: space-between;
width: 100%;

}

.recent-item {
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
}

.recent-item img {
  height: 100px;
  width: 100px;
}

.recent-contents{
display: flex;
justify-content: space-between;
flex-direction: column;
}



.category-items2{

  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
justify-content: space-around;
vertical-align: middle;
margin-top: 10px;
/* border: 2px solid gray; */
}


.category-items2 img{
  border: 2px solid gray;
  padding: 51px;
  background-color:whitesmoke;
}
.category-items2 p{

 text-align: center;
 /* display: contents;
 justify-content: center; */
 font-weight: 700;
 font-size: 14px;
 color: #333;
}


.sixthpara-container{
  flex: content; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: red;
font-size: 30px;
margin-top: 70px;
font-size: 3vh;

padding: 100px 100px;
height: 100%;
width: 100%;
}



.category-items3{

  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
justify-content: space-around;
vertical-align: middle;
margin-top: 10px;
/* border: 2px solid gray; */
}


.category-items3 img{
  border: 2px solid gray;
  padding: 51px;
  background-color:whitesmoke;
}
.category-items3 p{

 text-align: center;
 /* display: contents;
 justify-content: center; */
 font-weight: 700;
 font-size: 14px;
 color: #333;
}


.seventhpara-container{
  flex: content; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: red;
font-size: 30px;
margin-top: 30px;
font-size: 3vh;

padding: 100px 100px;
height: 100%;
width: 100%;
}



.block {
  display: inline-block;
  width: 500px;
  height: 450px;
  background-color: whitesmoke;
  justify-content: left;

}

.container-last {
  text-align: center;
 
}

.block img {
 width: 150px;
 height: 150px;
 /* text-align: center!important;
 vertical-align: middle; */
 margin-top: 10vh;
}



/* footer..................................................................................... */

*, *:before, *:after {
  box-sizing: border-box;
  }
  
  body {
  font-family: poppins;
  margin: 0;
  display: grid;
  font-size: 14px;
  }
  header p {
  padding: 50px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
  }
  .footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color:whitesmoke;
  }
  
  .footer > * {
  flex:  1 100%;
  }
  
  /* .l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
  } */
  
  h2 {
  font-weight: 400;
  font-size: 15px;
  }
  
  .footer ul {
  list-style: none;
  padding-left: 0;
  }
  
  .footer li {
  line-height: 1.5em;
  }
  
  .footer a {
  text-decoration: none;
  }
  
  .r-footer {
  display: flex;
  flex-flow: row wrap;
  }
  
  .r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
  }
  
  .box a {
  color: #999;
  }
  
  .h-box {
  column-count: 2;
  column-gap: 1.25em;
  }
  
  .b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
  }
  
  .l-footer p {
  padding-right: 20%;
  color: #999;
  }   
  
  @media screen and (min-width: 600px) {
  .r-footer > * {
  flex: 1;
  }
  
  .features {
  flex-grow: 2;
  }
  
  .l-footer {
  flex: 1 0px;
  }
  
  .r-footer {
  flex: 2 0px;
  }
  
  }